.first img{
    width: 100%;
}
.third img{
    width: 100%;
}
.five img{
    width: 100%;
}
.seven img{
    width: 100%;
}
.test-img img{
    width: 100%;
}
.skills-img img{
    width: 100%;
}
.tools-img img{
    width: 100%;
}
.skills-top{
    text-align: center;
}
.tools-top{
    text-align: center;
}