html{
    scroll-behavior: smooth;
}
ul{
    padding: 0;
    margin: 0;
}
p{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

/* navbar da container change kro navbar brand dy utty laao k mtlb */
/*
.first img{
    width: 100%;
}
.third img{
    width: 100%;
}
.five img{
    width: 100%;
}
.seven img{
    width: 100%;
}
.test-img img{
    width: 100%;
}
.skills-img img{
    width: 100%;
}
.tools-img img{
    width: 100%;
}
.skills-top{
    text-align: center;
}
.tools-top{
    text-align: center;
} */



section{
    padding: 100px 0;
}

.my-navbar{
    background-color: red!important;
}
.navbar{
    background-color: red;
}
.nav-link{
    color: white !important;
}
.navbar-brand{
    color: white !important;
}
.navbar-nav a:hover{
    color: black;
}
#intro{
    background-color: #A4978E;
}
.intro-top{
    text-align: center;
    margin-bottom: 50px;
}
.intro-img img{
    width: 100%;
}

#services{
    padding-bottom: 70px;
}
.services-top{
    text-align: center;
    margin-bottom: 30px;
}
.services-head{
    text-align: center;
    margin-bottom: 50px;
}

.html-text h1{
    text-align: center;
    }
    .css-text h1{
        text-align: center;
    }
    .java-text h1{
        text-align: center;
    }
    .boot-text h1{
        text-align: center;
    }

#features{
    list-style: none;
}
.feature-text li{
    list-style: none;
}
.feature-top{
    text-align: center;
    margin-bottom: 50px;
}
.feature-img img{
    width: 100%;
}

#video{
    background-image: url(../images/butterfly-5770034_640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.video-top{
    text-align: center;
    margin-bottom: 50px;
}
.video-img img{
   width: 100%;
}
.video-img a{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#our-team{
    padding-bottom: 70px;
}
.team{
    border: 1px solid #cdcdcd;
    margin-bottom: 30px;
}
.team-top{
    margin-bottom: 50px;
}
.team:hover{
    box-shadow: 0 0 5px 0 red;
}
.team-text-area{
    padding: 20px 0;
}

.blog-top{
    margin-bottom: 50px;
}
.blog-main{
    border: 1px solid #cdcdcd;
    margin-bottom: 30px;
}
.blog-main:hover{
    transform: scale(1.1);
}
.blog-comments a{
    color: #9e9e9e;
}
.blog-read-more-area a{
    color: red;
}
.blog-show-more a{
    background-color: red;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
}
.blog-pagination a{
    margin-right: 15px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.agency-block{
    border: 1px solid #ececec;
}

.sub-top{
    text-align: center;
    margin-bottom: 50px;
    color: lightblue;
}
#sub{
    background-image: url(../images/download\ \(4\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 80px 0;
 }
 .sub-main{
    padding-right: 25px;
}
.sub-form button{
    position: absolute;
    top: 0;
    right: 40px;
}

footer{
    background-color: #A4978E;
    padding-top: 50px;
    padding-bottom:30px ;
}
.footer-main{
    margin-bottom: 20px
}
.footer-img img{
    width: 30%;
    
}
.footer-img a{
    padding-right:10px;   
}

footer li{
    list-style: none;  
}
.footer-img a{
    font-size: 17px;
    color: #9e295a;
}
.footer-contact a{
color: rgb(4, 70, 78);
}
.footer-phone a{
    color: rgb(4, 70, 78);
}
@media only screen and (max-width:767px){
    
.footer-main{
    text-align: center;
}
.intro-img{
    padding-bottom: 30px;
}
.feature-img{
    margin-bottom: 30px;
}
}
@media only screen and (max-width:991px){
     .video-img{
         margin-bottom: 50px;
     }
     .video-img a{
         top: 42%;
     }
}


/*Contact*/

.contact-head{
    text-align: center;
    margin-bottom: 50px;
    
}
.p-head{
    text-align: center;
}
.name{
    margin-top: 10px;   
}
.email{
    margin-top: 10px;
}
textarea{
    margin-top: 10px;
}
.info button{
    /* position: absolute;
    top: 365px;
    right: 250px;
    margin-top: 5px;
     */
    width: 50%;
}
/* .last-top{
    
    padding-left: 100px;
    padding-right: 100px;
    
} */
.last{
    padding-top: 50px;
}
.last-top p{
    margin-left: 40px;
}
.last-bottom{
    /* padding: 0 125px; */
    border-top: 1px solid #b6b6b6;
    padding-top: 30px;
    text-align: center;
    margin-top: 50px;
}
.last-bottom a{
    padding: 0 15px;
    font-size: 20px;
    color: #9e295a;
}

   /*BLOG DETAIL*/
.detail-last-button a{
    background-color: red;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
}
.popular-tag a{
    background-color: rgb(216, 212, 212);
}
.detail-img img{
    width: 100%;
}

.details-social-icons a{
    margin: 0 5px;
}